body {
    background-color: #fdf1d3;
}

iframe{
    margin: 0 auto;
    width: 100%;
    height: 51px;
    border: none;
    top: 0px;
    position: fixed;
}

img{
    width: 100%;
    height: auto;
    margin: 30px 0;
}

#page {
    padding: 4%; 
}

h3{
    margin: 50px 0 10px;
}

#osnovno p{
    margin: 20px 0px 50px;;
}
#detalji p{
    margin: 20px 0px 50px;;
}

#detalji{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#detalji p:last-child {
    grid-column: span 2;
}

.inquiries{
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    margin: 20px 0;
}

.username{
    margin-top: 0;
    font-weight: bold;
}