body {
    background-color: #fdf1d3;
    margin-top: 60px;
}

iframe{
    margin: 0 auto;
    width: 100%;
    height: 51px;
    border: none;
    top: 0px;
    position: fixed;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
}

.stanovi, .kuce, .poslovni-prostori{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));;
    gap: 20px;
    justify-content: center;
}

.stanovi div{
    background-color: white;
    padding: 5%;
}

.kuce div{
    background-color: powderblue;
    padding: 5%;
}

.poslovni-prostori div{
    background-color: green;
    padding: 5%;
    color: white;
}

img{
    width: 100%;
    height: 170px;
}

.price{
    text-align: right;
}

button {
    width: 50%;
    margin: 0 25%;
    background-color: wheat;
    padding: 7px;
    font-weight: bold;
}

#filterMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows content to wrap to the next line if needed */
    margin-top: 20px;
}

#filterBtn {
    width: 10%;
    margin: 0 30px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#filterBtn:hover {
    background-color: #2980b9;
}

label{
    margin: 0 5px;
}
